/* NavbarTop section with image & paragraph text */
.navtop-img {
  display: flex;
  width: 100px;
  height: auto;
  margin: 0 auto;
  padding: 0.8rem;
}

.navtop-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 500;
  color: #585858;
  margin: 0 auto;
  padding-top: 0.3rem;
  padding-bottom: 1.5rem;
}

.mobile-nav {
  background-color: #2d5d89;
  padding: 20px;
  margin-top: -20px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.mobile-nav-links {
  padding-left: 0px;
}

.mobile-nav-links li {
  margin-bottom: 10px;
  list-style-type: none;
}

.mobile-nav a {
  color: white;
  text-decoration: none;
}

.mobile-login-button {
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
}

.mobile-login-button a {
  color: #2d5d89;
}

.mobile-nav-bar {
  background-color: #2d5d89;
  padding: 20px 40px;
  box-sizing: border-box;
  margin-bottom: 0px;
  text-align: right;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d5d89;
  padding: 30px;
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 18px;
  max-height: 20px;
}

/* Navbar links design */
.nav-links {
  display: flex;
}

.desktop-nav li {
  margin: 0 1rem;
  list-style: none;
  justify-content: space-between;
  text-decoration: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;

  &:hover {
    color: #dedede;
  }
}

/* Login button design */
.login-button {
  background-color: white;
  border-radius: 5px;
  padding: 2px 15px;
}

.login-button {
  color: #2d5d89;
  text-decoration: none;

  &:hover {
    background-color: #dedede;
  }
}
