.landingpage {
  padding: 0 5%;
}

/* Header section with image & paragraph text */
.header-image {
  object-fit: cover;
  width: 100%;
  position: relative;
  max-height: 600px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.content-container-header {
  text-align: left;
  color: #585858;
  max-width: 500px;
  width: 100%;
  padding: 1rem; /* Justér efter behov */
}

.title-header {
  font-size: 2rem;
  font-weight: 500;
  color: #585858;
  margin-bottom: 1.5rem;
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;
}

.paragraph-header {
  font-size: 1rem;
  max-width: 100%;
  margin-bottom: 1.5rem;
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;
}

.header-button {
  font-size: 1.2rem;
  background-color: #f88c50;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;

  &:hover {
    background-color: #585858;
  }
}

@media screen and (min-width: 1150px) {
  .content-container-header {
    position: absolute;
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%);
    margin-left: 30px;
  }

  .title-header {
    font-size: 2rem;
  }

  .paragraph-header {
    font-size: 1rem;
  }

  .header-button {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1750px) {
  .content-container-header {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  .title-header {
    font-size: 2rem;
  }

  .paragraph-header {
    font-size: 1rem;
  }

  .header-button {
    font-size: 1rem;
  }
}




.boat-image {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 5rem;
}

.crew-profiles-button {
  display: block;
  font-size: 1.2rem;
  background-color: #2d5d89;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0 auto 2rem;
  border: none;
  cursor: pointer;
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;

  &:hover {
    background-color: #585858;
    color: #fff;
  }
}

.fordaek-image {
  display: block;
  width: auto;
  height: auto;
  object-fit: contain;
  margin: 5rem auto 0;
  border-radius: 15px;
  align-items: center;
}

.captain-button {
  display: block;
  font-size: 1.2rem;
  background-color: #2d5d89;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0 auto 2rem;
  border: none;
  cursor: pointer;
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;

  &:hover {
    background-color: #585858;
    color: #fff;
  }
}

.land-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  line-height: 1.5;
  padding-bottom: 2rem;
  font-family: "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
  list-style-image: url("./anchor.png");
  margin: 20px 0;
}

.captain-ul-landingpage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  line-height: 1.5;
  padding-bottom: 2rem;
  font-family: "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
  list-style-image: url("./anchor.png");
  margin: 20px 0;
}

/*section with text in image */

.section-image {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.section-image img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 35%;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 100%; /* Juster bredden efter behov */
  max-width: 800px; /* Sæt en maksimum bredde */
  margin: 0 auto; /* Center containeren inden for billedet */
}

.h2-in-image {
  font-size: 2.5rem;
}

.paragraph-in-image {
  font-size: 1rem;
  margin-top: 1rem; /* Tilføj et mellemrum over paragraph-teksten */
  color: #585858;
}

.long-distance-button {
  font-size: 1.2rem;
  background-color: #f88c50;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 4rem; /* Tilføj et mellemrum over knappen */
  border: none;
  cursor: pointer;
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;

  &:hover {
    background-color: #585858;
  }
}

@media only screen and (min-width: 800px) {
  .crewprofiles,
  .captainprofiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 0;
  }
}

@media only screen and (min-width: 1300px) {
  .seafareItems div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .content-container {
    width: 90%;
  }

  .h2-in-image {
    font-size: 2rem;
  }

  .paragraph-in-image {
    font-size: 0.9rem;
  }

  .long-distance-button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .content-container {
    width: 100%;
  }

  .h2-in-image {
    font-size: 1.5rem;
  }

  .paragraph-in-image {
    font-size: 0.8rem;
  }

  .long-distance-button {
    font-size: 0.9rem;
  }
}

.button-link {
  text-decoration: none;
}
