/* Seafare form */

.seafare-form {
  background-color: #dadada;
  padding: 30px 50px;
  margin: 30px 5%;
  border: 2px solid #2d5c88;
  border-radius: 20px;
}

.seafare-form label {
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

input::placeholder,
textarea::placeholder {
  font-family: "Open sans", sans-serif, Arial, Helvetica, sans-serif;
}

.seafare-form input,
.seafare-form select,
.seafare-form textarea {
  width: 100%;
}

.form-label {
  max-width: 80%;
  display: block;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
}

input {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #2d5d89;
  font-family: "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
  margin: auto;
}

.signup-button {
  display: block;
}

input,
select {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #2d5d89;
  font-family: "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
  margin: auto;
  background-color: white;
}

select {
  width: 90%;
  padding: 0.5rem;
}

textarea {
  width: 95%;
  box-sizing: border-box;
  margin: 0%;
  padding: 0.5rem;
  margin-bottom: 20px;
}

.single {
  width: 95%;
  display: block;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  padding: 0.5rem;
}

.message-timestamp {
  font-size: 0.8rem;
  color: #000;
  padding: 0.5rem;
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .form-grid {
    grid-template-columns: 1fr; /* Change to one column on smaller screens */
  }
}

input {
  background-color: white;
  color: black;
}

#login-form {
  width: 500px;
  margin: 50px auto;
}

.input-item {
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.input .input {
  font-family: "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
}

.remember {
  font-family: "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.remember input {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
}

.input {
  display: block;
  width: 500px;
  background-color: white;
  color: #2d5c88;
  border: 2px solid #2d5c88;
  padding: 7px 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.button {
  background-color: #2d5c88;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  display: block;
  width: 500px;
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
}

.button--small {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

.button--white {
  background-color: white;
  border: 2px solid #2d5c88;
  color: #2d5c88;
  font-family: "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* Sign up form design Desktop*/

/* Tabs */

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tabone {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  max-width: 7rem;
  max-height: 1.5rem;

}

.tabtwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 2rem;
  max-width: 7rem;
  max-height: 1.5rem;
  
}


.tabs label {
  order: initial;
  display: flex;
  padding: 2rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: background ease 0.2s;
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #dedede;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 2rem;
}

.checkbox {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.checkbox-input {
  max-width: 1rem;
  margin: 1rem 0.5rem 1rem 0.5rem;
}

.checkbox .checkbox-label {
  width: auto;
  
  
}

.tabs input[type="radio"] {
  display: none;
  
}

.tabs input[type="radio"]:checked + label {
  background: #f3f3f3;
  border: 1px solid #2d5d89;
  
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
  
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: absolute;
  }

  .tabs label {
    width: 100%;
    margin-right: 0;
  }

  .checkbox .checkbox-label {
    width: 100%; 
  
}
}

.signup-form {
  display: block; /* Sign up form design Desktop*/
  margin: 0 auto;
  background-color: #dedede;
  border-radius: 15px;
  border: 2px solid #2d5d89;
  font-family: "open sans", sans-serif, Arial, Helvetica, sans-serif;
  color: #585858;
  padding: 1rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
}

.form-group label {
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;
  padding: 2rem 1.5rem;
  font-size: 1rem;
}

.form-label {
  max-width: 80%;
  padding: 2rem 2rem;
}

input {
  width: 90%;
  border: 1px solid #2d5d89;
  font-family: "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
  margin: auto;
  background-color: white;
}

.signup-button{
  display: block;
  background-color: #f88c50;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 4rem 1rem 1rem 2.5rem;
  padding: 0.5rem 0.5rem;
  margin-right: auto; /* Tilføj denne linje */

  &:hover {
    background-color: #585858;
    color: #fff;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .form-grid {
    grid-template-columns: 1fr; /* Change to one column on smaller screens */
  }
  
}

.p-signup {
  font-family: "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

.form-button {
  font-size: 1.2rem;
  background-color: #2d5d89;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 20px auto 5px;
  border: none;
  cursor: pointer;
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;

  &:hover {
    background-color: #585858;
    color: #fff;
  }
}
